*{
    margin: 0;
    padding: 0;
  
  }
  :root{
    --ciano:#259CD3;
    --azul:#004972;
    --prata:#ECEDED;
}
  .mybackground{
    background:  rgb(255, 255, 255);
  
  }
  .img{
    align-items: center;
    max-width: 100%;
    background-color: transparent;
    vertical-align: middle;
    border-style: none;
  }
  .site-header{
    padding: 0px ;
  }
  /*@media screen and (min-width: 120px){
  .ally-container{
    flex-direction: row;
    background:linear-gradient(135deg, #004972 50%, #259CD3 50%);
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-repeat: initial;
  }
}
.ally-container{
padding-top: 0px;
padding-bottom: 5px;
font-size: 9em;
color: #fff;
height: 50px;

}*/
  .barra{
    padding-top: 0px;
    background:linear-gradient(135deg, #004972 50%, #259CD3 50%);
      height: 50px;
     
  }
  .site-title img{
    padding-left: 200px;
    width: 200px;
  }
  
  body{
    font: 400 1em/1.5 "Open Sans",sans-serif;
    box-sizing: inherit;
    
  }
  
  .nav-link{
    color:#fff;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      float: right;
      margin-top: 10px;
      margin-right: 30px;
      text-decoration: none;
      height: 35px;
      width: 60px;
      text-align: center;
      border-radius: 20%;
  
  
  
  }
  
  .nav-link:hover{
    color: var(--azul);
    transition: all .4s ease-out;
    padding: 1px 1px 1px 1px;
}
.wrapper{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}


.tabela {

    border: solid 0,5px black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    border-collapse: collapse;
    width: 40%;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
    
}

.coluna1{
    width: 30%;
   }
   
   
.coluna2{
    width: 10%;
   }


td{
border: solid 0,5px black;
text-align: left;
padding: 8px;
background-color: var(--ciano);
color: #fff;
padding-left: 20px;
       
}
th{
  color: #fff;
}


.coluna1, .coluna2{
background-color: var(--azul);
color: white;        
}


.caixa {
   width: 40%;
   background-color: var(--ciano);
   height: auto;
   margin-top: 5%;
   margin-left: 2%;
   border-radius: 20px;
   padding-left: 20px;
   padding-right: 20px;
}

.link {
  margin-left: 20px;
  margin-right: 8PX;
  color: #ECEDED;
  

}
.caixa2{/*caixa cinza que seria feita pra sla oq*/
  background-color: var(--ciano);
  height: auto;
  width: 50%;
  display: flex;
  float: right;
  margin-top: -32% ;
  margin-right: 20px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  
}
#botao{
  background-color:var(--ciano);
  color: #fff;
  height: 40px;
  width: 100px;
  margin-bottom: -10%;
  margin-top: 70%;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
 }
 #botao:hover{
   background-color: var(--azul);
   color: #ffffff;
   margin-top: 70%;
   border-radius: 10px;
   margin-left: 5px;
   cursor: pointer;
   border-radius: 10px;
   transition: all .4s ease-out;
 }
 a{
  color:var(--prata);
 }
 a:hover{
color: var(--azul);
 }
 .label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: var(--azul);
}
.label-float input:focus{
  border-bottom: var(--prata) 2px solid;
}
