@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
:root{
    --ciano:#259CD3;
    --azul:#004972;
    --prata:#ECEDED;
}
body{
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 0px;
    background:linear-gradient(135deg, #004972 50%, #259CD3 50%);
      height: 30px;
}
.site-title img{
    padding-top: 1%;
    padding-left: 200px;
    width: 100px;
}
.card{
    background-color: var(--ciano);
    border-radius: 70px;
    width: 400px;
    height: 400px;
    padding: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 30px;
    padding-right: 30px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: var(--prata);
}
.label-float input{
    width: 100%;
    padding:5px;
    display: inline-block;
    border:0;
    border-bottom:2px solid var(--azul);
    background-color: transparent;
    border-radius: 10%;
    outline:none;
    min-width: 180px;
    font-size:16px;
    transition:all .9s ease-out;
}
.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.label-float input:focus{
    border-bottom: var(--prata) 2px solid;
    transition: all .9s ease-out;
}
.label-float label{
    color: var(--prata);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .9s ease-out;
}
.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: var(--azul);
    transition: all .5s ease-out;
}
.botao{
    background-color: var(--azul);
    color: var(--prata);
    padding:12px;
    font-weight: bold;
    font-size: 12pt;
    margin-top:20px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    box-shadow:2px 2px 2px 1px #00000020;
}
.botao:hover{
    background-color: var(--azul);
    color: var(--prata);
    transition: all .4s ease-out;
}
.center{
    display: flex;
    justify-content: center;
}
hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
}
p{
    text-align: center;
    color: var(--prata);
    font-size:14pt
}
a{
    color:var(--prata);
    font-weight: bold;
    text-decoration: none;
}a:hover{
    color: var(--azul);
    transition: all .4s ease-out;
}

#Open {/*visualização da senha*/
    position:absolute ;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 360px ;
    margin-right: 5px;
     
    
    }
    #password{
        text-align: center;
        border-radius: 5px;
        height: 30px;
        width: 200px;
        border: none;  
        display: flex;
        justify-content: center;
        cursor: pointer
    }
    form{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    #closed {
        
position: absolute;
background-color: white;
cursor: pointer;
display: flex;
margin-top: -26px;
margin-bottom: 40px;
margin-left: 153px ;
 margin-right: 5px;
 
}
#input > * {
    height: 1.3em;
    float: left;
  }
  
  #input img {
    cursor: pointer;
  }
.link{
    border-radius: 30%;
    text-decoration: underline;
}
.pace .pace-progress{
    background-color: var(--azul);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}
.site-footer img{
    width: 1px;
}

