@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
:root{
    --ciano:#259CD3;
    --azul:#004972;
    --prata:#ECEDED;
}
body{
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
    background:linear-gradient(135deg, #004972 50%, #259CD3 50%);
      height: 30px;;
}
.site-title img{
    padding-left: 200px;
    width: 100px;
}
.card{
    background-color: var(--ciano);
    border-radius: 120px;
    width: 500px;
    height: 500px;
    padding: 100px;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top:5%;
    margin-bottom:1%;
    padding-left: 30px;
    padding-right:30px;
}
h1{
    text-align:center;
    margin-bottom: 20px;
    margin-top: 40%;
    color: var(--prata);
}
.label-float input{
    width:100%;
    padding:5px;
    display:inline-block;
    border:0;
    border-bottom:2px solid var(--azul);
    background-color: transparent;
    border-radius:10%;
    outline: none;
    min-width: 180px;
    font-size:16px;
    transition:all .3 ease-out;
}
.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.label-float input:focus{
    border-bottom: 2px solid var(--prata);
}
.label-float label{
    color: var(--prata);
    pointer-events: none;
    position:absolute;
    top:0;
    left: 0;
    margin-top: 13px;
    transition:all .3s ease-out
}
.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: var(--azul);
}
.botao{
    background-color: var(--azul);
    color: var(--prata);
    padding: 12px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline:none;
}
.botao:hover{
    background-color: var(--azul);
    color: var(--prata);
    transition:all .4s ease-out;
}
.center{
    display: flex;
    justify-content: center;
}
#Open {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    display:flex;
    margin-top:10px;
    margin-bottom:40px;
    margin-left:220px;
    margin-right:5px;

}
/*#closed{
    position:absolute;
    background-color: #ff0000;
    cursor:pointer;
    display:flex;
    margin-top:-26px;
    margin-bottom:40px;
    margin-left: 153px;
    margin-right: 5px;
}*/
.pace .pace-progress{
    background-color:var(--azul);
    position:fixed;
    z-index:2000;
    top:0;
    right:100%;
    width: 100%;
    height: 2px;
}
#input > * {
    height: 1.3em;
    float: left;
}
#input img {
    cursor:pointer;
}
form{
    position: fixed;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}
#pass{
    width: 150px;
    padding-right: 20px;
}
#password{
    padding-right: 10px;
}
.olho{
    cursor: pointer;
    position: absolute;
}
.link{
    border-radius: 30%;
    text-align: center;
    text-decoration: underline;
}
a{
    color: var(--prata);
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: var(--azul);
    transition: all .4s ease-out;
}
hr{
    margin-top: 20%;
    margin-bottom: 1%;
    width: 100%;
}
.redirecionar{
    margin-top: 10px;
    margin-left: 10px;
}